<div>
  <div class="mt-5">
    <div class="login-form text-center">
      <h2 class="mt-1 font-weight-light text-uppercase text-center">Notificações</h2>
      <p class="font-weight-normal text-center">
        Notificações para todos os Estudantes
      </p>
    </div>
  </div>

  <div>
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table">

          <div class="row header">
            <div class="cell" style="width:20%">
              Titulo
            </div>
            <div class="cell" style="width:20%">
              Corpo
            </div>
            <div class="cell" style="width:20%">

            </div>
          </div>

          <div *ngFor="let notification of notifications" class="row">
            <div class="cell" data-title="Titulo">
              {{notification.title}}
            </div>
            <div class="cell" data-title="Corpo">
              {{notification.body}}
            </div>
            <div class="cell" style="white-space: nowrap">

              <button routerLink="edit/{{notification.id}}" class="btn btn-sm btn-submit mr-3 text-center">Editar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
