<h2>File Upload</h2>
<mat-form-field class="col align-self-center" style="text-align: center;">
  <input matInput type="text" name="id" [(ngModel)]="id" placeholder="Salvar id para pesquisa">
</mat-form-field>

<input type="file" (change)="showPreview($event)">
<br><br>
<button (click)="save()">Salvar</button>
<br><br>
<h2>File View</h2>
<mat-form-field class="col align-self-center" style="text-align: center;">
  <input matInput type="text" name="file" [(ngModel)]="file" placeholder="Digite o id do estudante para pesquisa">
</mat-form-field>
<!-- <button (click)="view()">Vizualizar</button> -->

<div class="card">
  <div class="card-header">List of Files</div>
  <!-- <ul class="list-group list-group-flush" *ngFor="let file of selectedImage">
    <li class="list-group-item">

    </li>
  </ul> -->
</div>

<div class="text-center">
  <button routerLink="/admin/files" class="btn mt-3 rounded-pill btn-lg btn-cancel text-uppercase"
    style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
    Sair
  </button>
</div>
