<!-- <div class="p-4">
    <div class="container">
        <h1>Admin</h1>
        <p>Esta seção só pode ser acessada por administradores.</p>
        <p><a routerLink="accounts">Gerenciar contas</a></p>
    </div>
</div> -->


<div class="mt-5">
  <div class="login-form ">
    <h1 class="mb-3 font-weight-light text-uppercase text-center">Admin</h1>

    <p class="mt-3 font-weight-normal text-center">
      Esta seção só pode ser acessada por administradores.
    </p>
    <button routerLink="accounts" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
    style="width:100%; height:100%; border: 1px solid">
      Gerenciar contas
    </button>
  </div>
</div>
