<div>

  <h2 class="mt-3 font-weight-light text-uppercase text-center">Atestado de Justifcativa</h2>

  <div class="card" style="background-color: #faf5ed;" id="pdfTable" #pdfTable>
    <p class="font-weight-normal">Estudante: <span>{{student}}</span></p>
    <p class="font-weight-normal">Semestre: <span>{{semester}}</span></p>
    <p class="font-weight-normal">Curso: <span>{{course}}</span></p>
    <p class="font-weight-normal">Matricula: <span>{{registration}}</span></p>
    <p class="font-weight-normal">Data: <span>{{data}}</span></p>
  </div>

  <div>
    <h4 class="mt-3 font-weight-light text-uppercase text-center">Formulario</h4>
    <mat-form-field class="col align-self-center" style="text-align: center;">
      <input matInput type="text" [(ngModel)]="student" placeholder="Estudante">
    </mat-form-field>
    <mat-form-field class="col align-self-center" style="text-align: center;">
      <input matInput type="text" [(ngModel)]="semester" placeholder="Semestre">
    </mat-form-field>
    <mat-form-field class="col align-self-center" style="text-align: center;">
      <input matInput type="text" [(ngModel)]="course" placeholder="Curso">
    </mat-form-field>
    <mat-form-field class="col align-self-center" style="text-align: center;">
      <input matInput type="text" [(ngModel)]="registration" placeholder="Nº de Matricula">
    </mat-form-field>
    <mat-form-field class="col align-self-center" style="text-align: center;">
      <input matInput type="text" [(ngModel)]="data" placeholder="Data">
    </mat-form-field>
  </div>

</div>

<div class="text-center">
  <button class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"
    style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;" (click)="downloadAsPDF()">
    Exportar PDF
  </button>
</div>

<div class="mt-3 card">
  <div class="card-header">Atestados de Justifcativa</div>
  <ul class="list-group list-group-flush" *ngFor="let file of files">
    <li class="list-group-item">
      <a target="_blank" href="{{ file.url }}">{{ file.name }}</a>
      <button (click)="deleteFile(file)" class="btn btn-danger btn-sm" style="float: right">
        Delete
      </button>
    </li>
  </ul>
</div>

<div class="text-center">
  <button routerLink="/admin/files" class="btn mt-3 rounded-pill btn-lg btn-cancel text-uppercase"
    style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
    Sair
  </button>
</div>
