<div class="mt-5">
  <div class="login-form">
    <h1 class="mt-1 font-weight-light text-uppercase text-center">Map Sigtei - Transporte</h1>

    <p class="mt-3 font-weight-normal text-center">
      <strong>visualizar mapa</strong>
    </p>

    <button routerLink="map-driver" *ngIf="isMotorista"
      class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Abrir Mapa
    </button>

    <button routerLink="map-location" *ngIf="isMotorista"
      class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Ativar localização
    </button>

    <button routerLink="map-driver" *ngIf="isEstudante"
      class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Abrir Mapa
    </button>

    <button routerLink="map-driver" *ngIf="isAdmin"
      class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Abrir Mapa
    </button>

    <button routerLink="map-location" *ngIf="isAdmin" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Ativar localização
    </button>

  </div>
</div>
