<div>
  <div class="container-table100">
    <div class="wrap-table100" id="pdfTable" #pdfTable>
      <h1>Lista de Estudantes</h1>
      <p>{{dataTime}}</p>
      <p>Motorista: {{name}}</p>

      <!-- <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Placa do Veiculo" (input)="persist('test', $event.target.value)"> -->

      <mat-form-field style="width: 200px;">
        <input matInput type="text" [(ngModel)]="placa">
      </mat-form-field>

      <!-- <div *ngIf=" localStorageChanges$ | async as localStorageChanges">
        <p>Placa: <span class="text-uppercase">{{ localStorageChanges.value.toUpperCase() }}</span></p>
      </div> -->

      <div>
        <p>Placa: <span class="text-uppercase">{{placa.toUpperCase()}}</span></p>
      </div>

      <table class="table">
        <thead class="row header">
          <tr class="text-center">
            <th class="cell" style="width:20%">
              Nome
            </th>
            <th class="cell" style="width:20%">
              RG
            </th>
            <th class="cell" style="width:20%">
              Intituição
            </th>
            <th class="cell" style="width:20%">
              Curso
            </th>
            <th class="cell" style="width:20%">
              Endereço
            </th>
            <th class="cell" style="width:20%">
              Opções
            </th>
          </tr>
        </thead>

        <tbody *ngFor="let list of lists" class="row">
          <tr class="text-center">
            <td class="cell" data-title="Nome">
              {{list.firstName}} {{list.lastName}}
            </td>
            <td class="cell" data-title="RG">
              {{list.rg}}
            </td>
            <td class="cell" data-title="Instituição">
              {{list.institution}}
            </td>
            <td class="cell" data-title="Curso">
              {{list.course}}
            </td>
            <td class="cell" data-title="Endereço">
              {{list.location}}
            </td>
            <td class="cell">

              <!-- <button routerLink="edit/{{list.id}}" class="btn btn-sm btn-submit mr-3">Editar</button> -->

              <button (click)="deleteLists(list.id)" class="btn btn-sm btn-delete mr-1" [disabled]="list.isDeleting">
                <span *ngIf="list.isDeleting" class="spinner-border spinner-border-sm"></span>
                <span *ngIf="!list.isDeleting">Deletar</span>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center">
    <button class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;" (click)="downloadAsPDF()">Exportar Lista para
      PDF</button>
    <button class="btn mt-3 rounded-pill btn-lg btn-delete text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;" (click)="deleteListAll()">Apagar Lista</button>
  </div>

</div>
