@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
  opacity: .5;
}

/* .container {
  width: 100vw;
  height: 100vh;
  background: #6C7A89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
  }
  .box {
  width: 300px;
  height: 300px;
  background: #fff;
  }
  body {
  margin: 0px;
  } */

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #eee;
  color:#666;
}
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color:#2B262C;
}
.forgot-link{
  font-size: 13px;
}

.form-control:focus{
  border-color:#2B262C;
  box-shadow: 0 0 0 0.2rem rgba(43,38,44,.95);
}
.btn-submit{
  background: #2B262C;
  border-color:#2B262C;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-submit:focus,
.btn-submit:hover,
.btn-submit:active,
.btn-submit:active:focus{
  background: #000000;
  border-color: #000000;
  color:#fff;
}
.btn-submit:focus{
  box-shadow: 0 0 0 0.2rem rgba(0,153,0,.55);
}

.btn-cancel{
  background: #2B262C;
  border-color:#2B262C;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-cancel:focus,
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:active:focus{
  background: #000000;
  border-color: #000000;
  color:#fff;
}
.btn-cancel:focus{
  box-shadow: 0 0 0 0.2rem rgba(255,0,0,.55);
}
