<h1>Locais</h1>
<div *ngFor="let place of places">
  <div *ngIf="place.type === 'Saida' ">
    <h4>Locais de {{place.type}} em {{place.city}}</h4>
    <strong>Local: </strong>{{place.place}}<br />
    <strong>Rua: </strong>{{place.street}}<br />
    <strong>Bairro: </strong>{{place.district}}<br />
    <strong>Cidade: </strong>{{place.city}}<br />
    <strong>Estado: </strong>{{place.state}}<br />
    <span></span><br />
  </div>
</div>

<span></span><br />

<div *ngFor="let place of places">
  <div *ngIf="place.type === 'Chegada' ">
    <h4>Locais de {{place.type}} em {{place.city}}</h4>
    <strong>Local: </strong>{{place.place}}<br />
    <strong>Rua: </strong>{{place.street}}<br />
    <strong>Bairro: </strong>{{place.district}}<br />
    <strong>Cidade: </strong>{{place.city}}<br />
    <strong>Estado: </strong>{{place.state}}<br />
    <span></span><br />
  </div>
</div>

