<div class="mt-5">
  <div class="login-form">
    <h1 class="mt-1 font-weight-light text-uppercase text-center">Map Sigtei</h1>

    <p class="mt-3 font-weight-normal text-center">
      <strong>Vizualisar mapas</strong>
    </p>

    <button routerLink="map-places" *ngIf="isEstudante"
      class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Mapa Motorista
    </button>

    <button routerLink="map" *ngIf="isMotorista"
      class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Mapa locais alunos
    </button>

    <button routerLink="map-places" *ngIf="isAdmin" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Mapa Motorista
    </button>
    
    <button routerLink="map" *ngIf="isAdmin" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Mapa locais alunos
    </button>

  </div>
</div>
