<!-- <h3 class="card-header">Verificar e-mail</h3>
<div class="card-body">
  <div *ngIf="emailStatus == EmailStatus.Verifying">
    Verificando...
  </div>
  <div *ngIf="emailStatus == EmailStatus.Failed">
    A verificação falhou, você também pode verificar sua conta usando a página <a
      routerLink="../forgot-password">Esqueceu a senha</a>.
  </div>
</div> -->

<div class="mt-5 login-form text-center">
  <div *ngIf="emailStatus == EmailStatus.Verifying">
    Verificando...
  </div>
  <div *ngIf="emailStatus == EmailStatus.Failed">
    A verificação falhou, você também pode verificar sua conta usando a página <a
      routerLink="../forgot-password" style="color: blue;">Esqueceu a senha</a>.
  </div>
  <div *ngIf="emailStatus == EmailStatus.Valid" class="login-form text-center">
    <h2 class="mb-5 font-weight-light text-uppercase">Verificar e-mail</h2>
  </div>
</div>
