<h1>Horários</h1>
<div *ngFor="let schedule of schedules">
  <div *ngIf="schedule.type === 'Partida' ">
    <h4>Horário de {{schedule.type}}</h4>
    <p>
      <strong>Horário: </strong>{{schedule.schedule}}<br />
    </p>
    <span></span><br />
  </div>
</div>

<span></span><br />

<div *ngFor="let schedule of schedules">
  <div *ngIf="schedule.type === 'Chegada' ">
    <h4>Horário de {{schedule.type}}</h4>
    <p>
      <strong>Horário: </strong>{{schedule.schedule}}<br />
    </p>
    <span></span><br />
  </div>
</div>

<span></span><br />

<div *ngFor="let schedule of schedules">
  <div *ngIf="schedule.type === 'Saida' ">
    <h4>Horário de {{schedule.type}}</h4>
    <p>
      <strong>Horário: </strong>{{schedule.schedule}}<br />
    </p>
    <span></span><br />
  </div>
</div>
