
<div class="main">
  <h3>Mapa da localização do ônibus</h3>

  <agm-map style="height:500px" [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom">
    <agm-marker [latitude]="center.lat" [longitude]="center.lng" [label]="label" (markerClick)="clickedMarker(label)"></agm-marker>
    <agm-polygon [paths]="polygon"></agm-polygon>
  </agm-map>

  <h4>Alerta de localização</h4>
  <div class="alert" [hidden]="!showAlert">
    <p>O transporte deixou o perimetro da cidade</p>
  </div>

  <div class="location alert" [hidden]="!showLocationUpdate">
    <p>Transporte em Movimento</p>
  </div>
</div>

<div class="login-form text-center">
  <button routerLink="/map-driver-location" class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"
    style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">Sair</button>
</div>
