<!-- <div class="scanner-shell" [hidden]="!hasDevices">

  <mat-menu #appMenu="matMenu">
    <mat-selection-list>
      <mat-list-option checkboxPosition="start" (click)="toggleTryHarder()" [selected]="tryHarder">
        Habilitar Try-harder
      </mat-list-option>
      <mat-list-option checkboxPosition="start" (click)="toggleTorch()" [selected]="torchEnabled"
        *ngIf="torchAvailable$ | async">
        Habilitar Torch
      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openFormatsDialog()">Formatos</button>
  </mat-menu>

  <header>
    <mat-form-field appearance="fill">
      <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!currentDevice">Nenhum dispositivo selecionado</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId"
          [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
      </select>
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </header>

  <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Resultado: </small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
  </section>

</div> -->

<div>
  <div class="card text-center">
    <h1 class="mt-1 font-weight-light text-uppercase text-center">ID Estudantil</h1>
    <div class="scanner-shell" [hidden]="!hasDevices">

      <mat-menu #appMenu="matMenu">
        <mat-selection-list>
          <mat-list-option checkboxPosition="start" (click)="toggleTryHarder()" [selected]="tryHarder">
            Habilitar Try-harder
          </mat-list-option>
          <mat-list-option checkboxPosition="start" (click)="toggleTorch()" [selected]="torchEnabled"
            *ngIf="torchAvailable$ | async">
            Habilitar Torch
          </mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="openFormatsDialog()">Formatos</button>
      </mat-menu>

      <header>
        <mat-form-field appearance="fill">
          <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
            <option value="" [selected]="!currentDevice">Nenhum dispositivo selecionado</option>
            <option *ngFor="let device of availableDevices" [value]="device.deviceId"
              [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
          </select>
        </mat-form-field>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </header>

      <zxing-scanner
        [torch]="torchEnabled"
        [(device)]="currentDevice"
        (scanSuccess)="onCodeResult($event)"
        [formats]="formatsEnabled"
        [tryHarder]="tryHarder"
        (permissionResponse)="onHasPermission($event)"
        (camerasFound)="onCamerasFound($event)"
        (torchCompatible)="onTorchCompatible($event)">
      </zxing-scanner>

      <section class="results" *ngIf="qrResultString">
        <div>
          <small>Resultado: </small>
          <div class="mt-3 font-weight-normal">
            <p class="text-uppercase text-center"><strong>ID: </strong>{{ qrResultString }}<br  /></p>
          </div>
        </div>
        <button mat-icon-button (click)="clearResult()">&times;</button>
      </section>

    </div>
  </div>
  </div>


<ng-container *ngIf="hasPermission === undefined">

  <h2>Aguardando permissões.</h2>

  <blockquote>
    Se o seu dispositivo não tiver câmeras, nenhuma permissão será solicitada.
  </blockquote>

</ng-container>

<ng-container *ngIf="hasPermission === false">

  <h2>Você negou a permissão da câmera, não podemos digitalizar nada sem ela. 😪</h2>

</ng-container>

<ng-container *ngIf="hasDevices === undefined">

  <h2>Não foi possível verificar os dispositivos.</h2>

  <blockquote>
    Isso pode ser causado por algum erro de segurança.
  </blockquote>

</ng-container>

<ng-container *ngIf="hasDevices === false">

  <h2>Nenhum dispositivo foi encontrado.</h2>

  <blockquote>
    Acredito que seu dispositivo não tenha dispositivos de mídia conectados.
  </blockquote>

</ng-container>
