<!-- <div class="app-container" [ngClass]="{ 'bg-light': account }">

  main nav
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
    <div class="navbar-nav">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="nav-item nav-link">Home</a>
      <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
      <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active"
        class="nav-item nav-link">Admin</a>
      <a (click)="logout()" class="nav-item nav-link">Logout</a>
    </div>
  </nav>


  subnav router outlet
  <router-outlet name="subnav"></router-outlet>

  global alert
  <alert></alert>

  main router outlet
  <router-outlet></router-outlet>
</div> -->

<!-- ------------------------------------------------------------------------------------------------------------------------- -->

<mat-sidenav-container fullscreen>

  <mat-sidenav mode="over" #sidenav position="start">
    <mat-nav-list *ngIf="account">
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/home" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/profile" routerLinkActive="active">Perfil</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/id-student" routerLinkActive="active"
        *ngIf="isEstudante">ID Estudantil</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/id-student" routerLinkActive="active" *ngIf="isAdmin">ID
        Estudantil</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/id-student-checkin" routerLinkActive="active"
        *ngIf="isMotorista">Check-in ID Estudantil</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/id-student-checkin" routerLinkActive="active"
        *ngIf="isAdmin">Check-in ID Estudantil</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/student-list" routerLinkActive="active"
        *ngIf="isMotorista">Lista Estudantes</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/student-list" routerLinkActive="active"
        *ngIf="isAdmin">Lista Estudantes</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/schedules" routerLinkActive="active">Horários</a>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/places" routerLinkActive="active">Locais</a>

      <!-- <a mat-list-item (click)="sidenav.toggle()" routerLink="/maps" routerLinkActive="active" *ngIf="isEstudante">Mapa </a> -->

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/maps" routerLinkActive="active"
        *ngIf="isMotorista">Mapa</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/maps" routerLinkActive="active" *ngIf="isAdmin">Mapa</a>


      <a mat-list-item (click)="sidenav.toggle()" routerLink="/map-driver-location" routerLinkActive="active"
        *ngIf="isEstudante">Mapa Motorista</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/map-driver-location" routerLinkActive="active"
        *ngIf="isMotorista">Mapa Motorista</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/map-driver-location" routerLinkActive="active"
        *ngIf="isAdmin">Mapa Motorista</a>



      <a mat-list-item (click)="sidenav.toggle()" routerLink="/notification" routerLinkActive="active"
        *ngIf="isMotorista">Notificação</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/notification" routerLinkActive="active"
        *ngIf="isAdmin">Notificação</a>

      <a mat-list-item (click)="sidenav.toggle()" routerLink="/admin" routerLinkActive="active"
        *ngIf="isAdmin">Admin</a>

      <a mat-list-item (click)="logout()" (click)="sidenav.toggle()" class="text-danger">Sair</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="secondary">

      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="font-weight-light text-uppercase text-center">Menu</span>
      <span style="flex: 1 1 auto;"></span>
      <div>
        <button mat-icon-button class="example-icon favorite-icon show-toast" (click)="myFunction()">
          <mat-icon [matBadge]="badgeContent" matBadgeColor="warn" [matBadgeHidden]="hidden">notifications</mat-icon>
        </button>
      </div>

      <div *ngFor="let notification of notifications">
        <div id="snackbar">
          <audio #audioOption>
            <source src='../assets/sounds/intuition-561.mp3' type="audio/mp3">
          </audio>
          <img src="{{notification.icon}}">
          <span>
            {{notification.title}}
          </span><br>
          <span>
            {{notification.body}}
          </span>
        </div>
      </div>

      <div id="snackbarOff">
        <audio #audioOption>
          <source src='../assets/sounds/intuition-561.mp3' type="audio/mp3">
        </audio>
        <span>
          Não tem Mensagem !
        </span>
      </div>

      <!-- <div id="snackbar">Some text some message..</div> -->
      <!-- <span class="toolbar-spacer"></span>

      <ul class="nav" *ngIf="account">
       <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link text-danger" (click)="permissionNotification()">Ativar Notificação</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link">{{ message | async | json }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-item nav-link text-danger" (click)="permissionNotification()">
            <i class="material-icons">notifications</i>
          </a>
        </li>

      </ul>-->

      <!-- <span class="toolbar-spacer"></span>

      <ul class="nav">
        <li class="nav-item dropdown">
          <a aria-expanded="false" (click)="permissionNotification()" aria-haspopup="true" class="nav-link" data-toggle="dropdown">
            <i class="material-icons">notifications</i>
            <span class="notification">1</span>
          </a>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item">{{titulo}}</a>
            <a class="dropdown-item">{{corpo}}</a>
            <a class="dropdown-item">{{icone}}</a>
            <a class="dropdown-item"><img src="{{icone}}"></a>
            <a class="dropdown-item">{{ message | async | json }}</a>
          </div>
        </li>
      </ul> -->
    </mat-toolbar>

    <div class="main-content">

      <!-- main app container -->
      <div class="app-container" [ngClass]="{ 'bg-light': account }">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>

    </div>
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
