<div class="mt-5">
  <div class="login-form ">
    <h1 class="mb-3 font-weight-light text-uppercase text-center">Admin</h1>

    <p class="mt-3 font-weight-normal text-center">
      Esta seção só pode ser acessada por administradores.
    </p>
    <button routerLink="accounts" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Gerenciar contas
    </button>
    <button routerLink="places" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Gerenciar Locais
    </button>
    <button routerLink="schedules" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Gerenciar Horarios
    </button>
    <button routerLink="files" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Gerenciar arquivos
    </button>
  </div>
</div>
