<div id="map"></div>
<b>Waypoints:</b> <br />
        <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br />
        <select multiple id="waypoints">
          <option value="montreal, quebec">Montreal, QBC</option>
          <option value="toronto, ont">Toronto, ONT</option>
          <option value="chicago, il">Chicago</option>
          <option value="winnipeg, mb">Winnipeg</option>
          <option value="fargo, nd">Fargo</option>
          <option value="calgary, ab">Calgary</option>
          <option value="spokane, wa">Spokane</option>
        </select>
        <br />
<div class="login-form text-center">
  <button routerLink="/maps" class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"
    style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">Sair</button>
</div>
