<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoint"
    [optimizeWaypoints]="optimizeWaypoints" [provideRouteAlternatives]="provideRouteAlternatives"
    [avoidHighways]="avoidHighways" [avoidTolls]="avoidTolls" [travelMode]="travelMode" [visible]="visible"
    [panel]="myPanel" [renderOptions]="renderOptions" [markerOptions]="markerOptions">
  </agm-direction>
</agm-map>

<div>
  <!-- <label>Otimização dos pontos de passagem: </label> -->
  <mat-slide-toggle [(ngModel)]="provideRouteAlternatives" style="margin: 10px;">Otimização dos pontos de passagem
  </mat-slide-toggle>
</div>

<div>
  <!-- <label>Fornecimento de rotas alternativas: </label> -->
  <mat-slide-toggle [(ngModel)]="optimizeWaypoints" style="margin: 10px;">Fornecimento de rotas alternativas
  </mat-slide-toggle>
</div>

<div>
  <!-- <label>Fornecimento de rotas alternativas: </label> -->
  <mat-slide-toggle [(ngModel)]="avoidHighways" style="margin: 10px;">Evitar auto-estradas</mat-slide-toggle>
</div>

<div>
  <!-- <label>Fornecimento de rotas alternativas: </label> -->
  <mat-slide-toggle [(ngModel)]="avoidTolls" style="margin: 10px;">Evitar pedágios</mat-slide-toggle>
</div>

<div>
  <!-- <label>Fornecimento de rotas alternativas: </label> -->
  <mat-slide-toggle [(ngModel)]="visible" style="margin: 10px;">Visível</mat-slide-toggle>
</div>

<div #myPanel></div>

<div class="login-form text-center">
  <button routerLink="/maps" class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"
    style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">Sair</button>
</div>
