<div>

  <div class="login-form text-center">
    <h2 class="mb-3 font-weight-light text-uppercase text-center">Locais</h2>
    <p class="mt-3 font-weight-normal text-center">
      Todas os Locais seguros (somente administrador):
    </p>
    <button routerLink="add" class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">Criar Local</button>
    <button routerLink="/admin" class="btn mt-3 rounded-pill btn-lg btn-cancel text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">Sair</button>
  </div>

  <div>

    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table">

          <div class="row header">
            <div class="cell" style="width:15%">
              Tipo
            </div>
            <div class="cell" style="width:15%">
              Titulo
            </div>
            <div class="cell" style="width:15%">
              Lugar
            </div>
            <div class="cell" style="width:20%">
              Rua
            </div>
            <div class="cell" style="width:15%">
              Bairro
            </div>
            <div class="cell" style="width:15%">
              Cidade
            </div>
            <div class="cell" style="width:20%">
              Estado
            </div>
            <div class="cell" style="width:30%">

            </div>
          </div>

          <div *ngFor="let place of places" class="row">
            <div class="cell" data-title="Tipo">
              {{place.type}}
            </div>
            <div class="cell" data-title="Titulo">
              {{place.title}}
            </div>
            <div class="cell" data-title="Lugar">
              {{place.place}}
            </div>
            <div class="cell" data-title="Rua">
              {{place.street}}
            </div>
            <div class="cell" data-title="Bairro">
              {{place.district}}
            </div>
            <div class="cell" data-title="Cidade">
              {{place.city}}
            </div>
            <div class="cell" data-title="Estado">
              {{place.state}}
            </div>
            <div class="cell" style="white-space: nowrap">

              <button routerLink="edit/{{place.id}}" class="btn btn-sm btn-submit mr-3">Editar</button>

              <button (click)="deletePlaces(place.id)" class="btn btn-sm btn-delete mr-1" [disabled]="place.isDeleting">
                <span *ngIf="place.isDeleting" class="spinner-border spinner-border-sm"></span>
                <span *ngIf="!place.isDeleting">Deletar</span>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
