<div class="mt-5">
  <div class="login-form ">
    <h1 class="mb-3 font-weight-light text-uppercase text-center">Arquivos</h1>

    <p class="mt-3 font-weight-normal text-center">
      Esta seção só pode ser acessada por administradores.
    </p>

    <button routerLink="list-files" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      lista de atestados Estudantes
    </button>

    <button routerLink="upload" class="btn mt-3 rounded-pill btn-lg btn-submit btn-block text-uppercase"
      style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
      Atestado estudante
    </button>

    <div class="text-center">
      <button routerLink="/admin" class="btn mt-3 rounded-pill btn-lg btn-cancel text-uppercase"
        style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
        Sair
      </button>
    </div>

  </div>
</div>
