<div class="mt-5 login-form text-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5 login-form text-center">
    <div class="mt-5">
    <h2 class="mb-5 font-weight-light text-uppercase">Esqueceu a senha</h2>
    <div class="form-group">
      <input type="text" formControlName="email" class="form-control" placeholder="Email"
        class="form-control rounded-pill form-control-lg" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Insira o email</div>
        <div *ngIf="f.email.errors.email">O email deve ser um endereço de email válido</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn mt-3 rounded-pill btn-lg btn-submit text-uppercase"  style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Enviar
      </button>
      <button routerLink="../login"
        class="btn mt-3 rounded-pill btn-lg btn-cancel text-uppercase"  style="margin-top: .25rem; margin-bottom: .25rem; margin: 0 10px;">Cancelar</button>
    </div>
  </div>
  </form>
</div>
