<h1>Locais</h1>
<h4>Locais de Saida em Itaqui</h4>
<p>
  <strong>Local: </strong>Praça<br />
  <strong>Rua: </strong>Euclídes Aranha<br />
  <strong>Bairro: </strong>Centro<br />
  <span></span><br />
  <strong>Local: </strong>Parcao<br />
  <strong>Rua: </strong>Paschoal Minogio<br />
  <strong>Bairro: </strong>Centro<br />
</p>

<span></span><br />

<h4>Locais de Saida em São borja</h4>
<p>
  <strong>Local: </strong>Institudo IFF<br />
  <strong>Rua: </strong>Otavioano Castilho Mendes<br />
  <strong>Bairro: </strong>Betim<br />
  <span></span><br />
  <strong>Local: </strong>Unipampa<br />
  <strong>Rua: </strong>Ver. Alberto Benevenuto<br />
  <strong>Bairro: </strong>Passo<br />

</p>

